<div class="primary-content primary-typography margin-left-100-rem margin-right-100-rem">
  <div class="l12 display-flex justify-content-space-between">
    <h3 class="title-style margin-top-50-rem cl-quaternary-background-palette-important margin-left-100-rem ">Welcome to
      Prueba INTAP</h3>
    <div class="col s2 m6 margin-top-50-rem">
      <button class="primary-button button-md" (click)="login()">
        Iniciar sesión
      </button>
    </div>
  </div>

  <div class="l12 display-flex margin-top-50-rem">
    <div class="s12">
      <p class="text-style lower-font cl-primary-color-theme-important margin-vertical-0">En la empresa… se requiere una
        plataforma donde los empleados puedan reportar los tiempos que han dedicado en las actividades de desarrollo
        todos los días. Esta plataforma debe tener las siguientes funcionalidades: - Autenticación de usuario por medio
        de usuario y contraseña <br>
        <br> - Los empleados autenticados podrán crear y ver las actividades <br> - Los empleados autenticados podrán
        ver
        los
        tiempos que han reportado <br>
        - Una actividad solo consta de un texto descriptivo. <br>
        - Los empleados podrán agregar varios tiempos en una actividad. <br><br>
        Ej.
        ➢ Actividad: Desarrollo de calendario <br> ✔ 05/04/2018 – 3 Horas <br> ✔ 23/04/2018 – 4 Horas <br>✔ 01/05/2018 –
        1 Hora
        <br>
        - Los tiempos que agregue deben tener:
        <br>
        ➢ Fecha en la cual se gastó el tiempo
        <br>
        ➢ Tiempo gastado en la actividad.
        <br>
        - Todos los tiempos de una actividad solo pueden sumar máximo 8 horas. Si el usuario trata de agregar más horas
        en una actividad que ya tiene 8 horas el sistema debe sacar un mensaje de error.
        <br>
        - Los usuarios solo podrán ver las actividades que ellos creen y no las de los demás
        usuarios.
      </p>
    </div>
    <div class="s12 margin-left-100-rem center-all">
      <div class="primary-card">
        <h1 class="subtitle-style cl-primary-color-theme-important">Realizada por:</h1>
        <h1 class="subtitle-style">Julian Stiven Londoño Perez</h1>
        <p class="text-style lower-font">3117780713</p>
        <p class="text-style lower-font">CC: 1020497017</p>
      </div>
    </div>
  </div>
</div>
